.s-dash {
    width: 100vw;
    height: 100vh;
}

.s-dash > *{
    width: 100vw;
    height: 100vh;
}

.s-dash-menu {
    width: 200px;
}

.s-dash-menu-conten {
    background-color: var(--color-nav);
    width: 100%;
    height: 100%;
}

.s-conten-group {
    background-color: rgb(209, 209, 209);
}

.s-conten-group > h2{
    font-size: 25px;
}

.s-conten-group:hover {
    background-color: #3d98f3 ;
}

.active {
    background-color: var(--color-prin);
    color: var(--color-white);
}