<section class="s-inciden">
    <div class="row modul-inciden">
        <div class="col-12 d-flex title justify-content-center align-items-center mb-3  mt-3">
            <h1>Modulo de Incidencias</h1>
        </div>
        <form [formGroup]="form" #frmEmpresa="ngForm" (ngSubmit)="evaluar()" class="col-12 row form">
            <div class="mb-3 row d-flex justify-content-center align-items-center">
                <label for="inputBUR" class="col-sm-2 col-form-label">Buscar por Unidad de Recepción:</label>
                <div class="col-sm-5">
                    <input id="inputSelected" type="text" placeholder="Número de Unidad..." class="form-control"
                        [(ngModel)]="filter" [ngbTypeahead]="search" [resultFormatter]="formatter"
                        [inputFormatter]="formatter" formControlName="selected" (ngModelChange)="onInputChange()"/>
                </div>
            </div>
            <div class="mb-3 row d-flex justify-content-center align-items-center">
                <label for="inputNR" class="col-sm-2 col-form-label">Nombre de Resolución</label>
                <div class="col-sm-5">
                    <input type="text" formControlName="inputNR" class="form-control" id="inputNR">
                </div>
            </div>
            <div class="mb-3 row d-flex justify-content-center align-items-center">
                <label for="inputNP" class="col-sm-2 col-form-label">Nombre de Paquete</label>
                <div class="col-sm-5">
                    <input type="text" formControlName="inputNP" class="form-control" id="inputNP">
                </div>
            </div>
            <div class="mb-3 row d-flex justify-content-center align-items-center">
                <label for="inputNF" class="col-sm-2 col-form-label">Número de Folios</label>
                <div class="col-sm-5">
                    <input type="number" formControlName="inputNF" class="form-control" id="inputNF">
                </div>
            </div>
            <div class="mb-3 row d-flex justify-content-center align-items-center">
                <label for="inputTD" class="col-sm-2 col-form-label">Tipo Documental</label>
                <div class="col-sm-5">
                    <input type="text" formControlName="inputTD" class="form-control" id="inputTD">
                </div>
            </div>
            <div class="mb-3 row d-flex justify-content-center align-items-center">
                <label for="inputNC" class="col-sm-2 col-form-label">Número de Caja</label>
                <div class="col-sm-5">
                    <input type="number" formControlName="inputNC" class="form-control" id="inputNC">
                </div>
            </div>
            <div class="botones row d-flex justify-content-evenly mt-3">
                <button class="btn btn-primary col-2" type="button">Actualizar</button>
                <button class="btn btn-secondary col-2" type="button">Cancelar</button>
            </div>
        </form>
    </div>
    <hr class="mt-5 mb-5">
    <div class="row modul-proces mb-5">
        <div class="col-12 d-flex title justify-content-center align-items-center mb-3">
            <h1>Retroceder Proceso</h1>
        </div>
        <form [formGroup]="procesos" #frmEmpresa="ngForm" (ngSubmit)="evaluar()" class="col-8 row form">
            <div class="mb-3 col row d-flex justify-content-center mb-3">
                <label for="inputBUR" class="col-sm-2 col-form-label">Desde:</label>
                <div class="col-sm">
                    <input type="text" formControlName="inputBUR" class="form-control" id="inputNC">
                </div>
            </div>
            <div class="mb-3 col row d-flex justify-content-center mb-3">
                <label for="inputNR" class="col-sm-2 col-form-label">Hasta:</label>
                <div class="col-sm">
                    <select class="form-select" aria-label="Default select example" [disabled]="disableSelect.value">
                        <option selected disabled>Elegir Proceso</option>
                        <option value="PROCESS_PREPARACION">PROCESS_PREPARACION</option>
                        <option value="PROCESS_FEDATARIO" disabled>PROCESS_FEDATARIO</option>
                        <option value="PROCESS_DIGITACIODOS">PROCESS_DIGITACIODOS</option>
                        <option value="PROCESS_DIGITALIZACION">PROCESS_DIGITALIZACION</option>
                        <option value="PROCESS_MEDIOS">PROCESS_MEDIOS</option>
                        <option value="PROCESS_RECEPCION">PROCESS_RECEPCION</option>
                        <option value="PROCESS_REPROCESO">PROCESS_REPROCESO</option>
                        <option value="PROCESS_CONTROL_CALIDAD_INTERNO">PROCESS_CONTROL_CALIDAD_INTERNO</option>
                    </select>
                </div>
            </div>
            <div class="botones row d-flex justify-content-evenly mt-3">
                <button class="btn btn-danger col-3" type="button">Retroceder</button>
                <button class="btn btn-secondary col-3" type="button">Cancelar</button>
            </div>
        </form>
    </div>

</section>