<!DOCTYPE html>
<html lang="es">

<head>
  <!--metadatos-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Bryan A. Morán Vega">
  <meta name="copyright" content="Of System ®">
  <base href="/">
  <!--íconos de la web-->
  <!--icono-->
  <link rel="icon" href="/img/SystemLogo.ico">
  <!--css-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!--título-->
  <title>T</title>
</head>

<body>
  <!-- <div id="preloader" class="preloader">
    <span class="loader"></span>
  </div> -->
</body>
<!--iconos-->
<script src="https://kit.fontawesome.com/e3a4a2320e.js" crossorigin="anonymous"></script>

</html>